<% content_for :tables do %>
   <div class="index_table">
      <table class="border-dark table table-hover table-dark">
	 <% Status.all.each do |s| %>
	    <tr>
	       <th>Zain Users</th>
	       <td><%= s.zain_numbers %></td>
	    </tr>
	    <tr>
	       <th>Asiacell Users</th>
	       <td><%= s.asiacell_numbers %></td>
	    </tr>
	    <tr>
	       <th>IPhone Users</th>
	       <td><%= s.iphone_users %></td>
	    </tr>
	    <tr>
	       <th>Android Users</th>
	       <td><%= s.android_users %></td>
	    </tr>
	    <tr>
	       <th>New Users for This Week</th>
	       <td><%= s.new_users_this_week %></td>
	    </tr>
	    <tr>
	       <th>Total Balance Enquires</th>
	       <td><%= s.total_balance_enquires %></td>
	    </tr>
	    <tr>
	       <th>Total Balance Enquires For This Week</th>
	       <td><%= s.total_balance_enquires_this_week %></td>
	    </tr>
	    <tr>
	       <th>Active QiCard</th>
	       <td><%= s.active_qicard %></td>
	    </tr>
	 <% end %>
      </table>
   </div>
<% end %>


<% content_for :charts do %>
   <div class="chart_container">
      <div class="col-md-2 div_card middle_text">
	 <span><i class="fa fa-user"> Total Active Users</i></span>
	 <div class="active_class "><%= @active_users %></div>
      </div>
   <div class="row">
      <div id="top_left" class="div_chart">
	 <%= pie_chart  charts_phones_path , library: {
	    height: 350, 
	    width: 650,
	    backgroundColor: {
	       fill: '#F0F8FF', 
	       fillOpacity: 0.2,
	       strokeWidth: 0.5,
	       stroke: 'black'
	    }, 
	    pieSliceTextStyle: { 
	       fontName: "sans-serif", 
	       color: "black", 
	       fontSize: 25
	    }, 
	    pieSliceText: "value", 
	    #colors: ["#622774", "#c53364"], 
	    colors: ["#00BFFF", "#E0FFFF"], 
	    is3D: true,
	    legend: {position: "labeled"}
	 } %> 
   </div>
   <div id="top_right" class="div_chart">
      <%= pie_chart charts_sim_card_type_path, library: {  
	 backgroundColor: {
	    fill: '#F0F8FF',
	    fillOpacity: 0.2,
	    strokeWidth: 0.5,
	    stroke: 'black'
	 },
	 height: 350, 
	 width: 650, 
	 slices: {
	    0 => { offset: 0.01},
	    1 => { offset: 0.02}
	 },
	 #pieSliceText: "value",  
	 pieSliceBorderColor: "#f8a540",
	 pieSliceText: "percentage",  
	 pieSliceTextStyle: { 
	    color: "#191970",
	    fontSize: 13
	 }, 
	 colors: ["#F71A1A", "#1A53F7"], 
	 legend: {alignment: "start"} 
      } %> 
</div>
   </div>
   <div class="row">
      <div id="down_left" class="div_chart">
	 <%= column_chart charts_active_users_path, library: {
	    backgroundColor: {
	       fill: '#F0F8FF',
	       fillOpacity: 0.2,
	       strokeWidth: 0.5,
	       stroke: 'black'
	    },
	    bar: {
	       groupWidth: '30'
	    },
	    colors: ["#244","#fff"],
	    width: '650',
	    height: '350'
	 } %>
   </div>
   <div id="down_right" class="div_chart">
      <%= bar_chart charts_enquires_path, library: {
	 backgroundColor: {
	    fill: '#F0F8FF',
	    fillOpacity: 0.2,
	    strokeWidth: 0.5,
	    stroke: 'black'
	 },
	 bar: {
	    groupWidth: '30'
	 },
	 colors: ["#0470dc","#fff"],
	 width: '650',
	 height: '350'
      } %>
</div>
   </div>
   </div>
<% end %>

