<% content_for :charts do %>
   <table class="chart_table">
      <tr>
	 <td>
	    <div class="">
	       <div class="">
		  <div class="card-body">
		     <div class="stat-widget-one">
			<div class="stat-icon dib">
			   <i class="ti-money text-success border-success"></i>
			</div>
			<div class="stat-content dib">
			   <div class="stat-text">Total Active Users</div>
			   <div class="stat-digit"><%= @active_users %></div>
			</div>
		     </div>
		  </div>
	       </div>
	    </div>

	 </td>
      </tr>
      <tr class="col-lg-12">
	 <td class="">
	    <div class="col-lg-2 offset-lg-4">
	       <%= pie_chart  charts_phones_path , library: {
		  height: 300, 
		  width: 550,
		  backgroundColor: {
		     fill: '#F0F8FF', 
		     fillOpacity: 0.2,
		     strokeWidth: 0.5,
		     stroke: 'black'
		  }, 
		  pieSliceTextStyle: { 
		     fontName: "sans-serif", 
		     color: "black", 
		     fontSize: 25
		  }, 
		  pieSliceText: "value", 
		  colors: ["#622774", "#c53364"], 
		  is3D: true,
		  legend: {position: "labeled"}
	       } %> 
	 </div>
	 </td>
	 <td>
	    <div class="col-lg-2 offset-lg-4">
	       <%= pie_chart charts_sim_card_type_path, library: {  
		  backgroundColor: {
		     fill: '#F0F8FF',
		     fillOpacity: 0.2,
		     strokeWidth: 0.5,
		     stroke: 'black'
		  },
		  height: 300, 
		  width: 500, 
		  slices: {
		     0 => { offset: 0.01},
		     1 => { offset: 0.02}
		  },
		  #pieSliceText: "value",  
		  pieSliceBorderColor: "#f8a540",
		  pieSliceText: "percentage",  
		  pieSliceTextStyle: { 
		     color: "#da0641",
		     fontSize: 12
		  }, 
		  colors: ["#fad961", "#f76b1c" ], 
		  legend: {alignment: "start"} 
	       } %> 
	    <!-- chartArea: {width: '50%', height: '75%'} -->
	    </div>
	 </td>
      </tr>
      <tr>
	 <td>
	    <%= column_chart charts_active_users_path, library: {
	       backgroundColor: {
		  fill: '#F0F8FF',
		  fillOpacity: 0.2,
		  strokeWidth: 0.5,
		  stroke: 'black'
	       },
	       bar: {
		  groupWidth: '30'
	       },
	       colors: ["#244","#fff"],
	       width: 200,
	    #chart: {
	    #   title: "Users Chart",
	    #   subtitle: "Total users on the left, New years on the right"
	    #},
	    #series: {
	       #   0 => {axis: "total"},
	       #   1 => {axis: "new"}
	       #},
	       #axes: {
	       #   y: {
	       #      total: {label: 'test'},
	       #      new: {side: 'right', label: 'emh' } 
	       #   }
	       #}
	    } %>
	 </td>
      </tr>
   </table>
<% end %>

<% content_for :tables do %>
   <table class="table table-hover table-dark">
      <% Status.all.each do |s| %>
	 <tr>
	    <th>Zain Users</th>
	    <td><%= s.zain_numbers %></td>
	 </tr>
	 <tr>
	    <th>Asiacell Users</th>
	    <td><%= s.asiacell_numbers %></td>
	 </tr>
	 <tr>
	    <th>IPhone Users</th>
	    <td><%= s.iphone_users %></td>
	 </tr>
	 <tr>
	    <th>Android Users</th>
	    <td><%= s.android_users %></td>
	 </tr>
	 <tr>
	    <th>New Users for This Week</th>
	    <td><%= s.new_users_this_week %></td>
	 </tr>
	 <tr>
	    <th>Total Balance Enquires</th>
	    <td><%= s.total_balance_enquires %></td>
	 </tr>
	 <tr>
	    <th>Total Balance Enquires For This Week</th>
	    <td><%= s.total_balance_enquires_this_week %></td>
	 </tr>
	 <tr>
	    <th>Active QiCard</th>
	    <td><%= s.active_qicard %></td>
	 </tr>
      <% end %>
   </table>
<% end %>
