<div class="container-fluid">
   <div class="login_container">
      <div class="form animate login_form">
	 <section class="login_content">
	    <h1>Log in</h1>
	    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	       <div class="form-group " >
		  <%= f.label :email, class: "col-sm-2 col-form-label" %>
		  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
	       </div>

	       <div class="form-group">
		  <%= f.label :password %><br />
		  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
	       </div>

	       <% if devise_mapping.rememberable? -%>
		  <div class="field">
		     <%= f.check_box :remember_me %>
		     <%= f.label :remember_me %>
		  </div>
	       <% end -%>

	       <div class="actions">
		  <%= f.submit "Log in", class: "btn btn-default submit" %>
	       </div>
	    <% end %>

	    <%= render "devise/shared/links" %>
	 </section>
      </div>
   </div>
</div>
