/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap";
@import "font-awesome";

* {
   box-sizing: border-box;
}

body {
   //background: #f1f2f7;
   background: #DCDCDC;
   //display: table;
   font-family: 'Open Sans' sans-serif !important;
   font-size: 16px;
   //height: 100%; 
   .div_body {
      width:100%;
      padding: 0;
      margin: 0;
   }
}

.logo_class {
   font-family: serif;
   font-size: 40px;
}

p {
   font-size: 16px;
   font-family: 'Open Sans' sans-serif;
   font-weight: 400;
   line-height: 24px;
   color: #878787;
}

p:focus {
   border: none;
   outline: 0;
}

.nav_div {
   background-color: #FFF8DC;
   background-color: #000000;
}

.active_class {
   font-size: 30px;
   line-height: 40px;
   font-weight: 600;
   color: #1ABB9C;
   box-sizing: border-box;
}

.middle_text {
   text-align: center;
}

a, button {
   text-decoration: none;
   outline: none!important;
   color: #878787;
   -webkit-transition: all 0.25s ease;
   -moz-transition: all 0.25s ease;
   -ms-transition: all 0.25s ease;
   -o-transition: all 0.25s ease;
   transition: all 0.25s ease;
}

a:hover,
a:focus {
   //text-decoration: none;
   color: #000;
}


.index_table {
   padding-top: 5%;
}

.chart_table {
   td {
      border-radius: 5px !important;
      padding: 1%;
   }

}
.dropdown {
   &:hover {
      display: block;
   }
}

.main-content {
   //position: relative;
   //padding-top: 0.5%;
   //z-index: 1;
   //height: 100%;
}


.side-nav {
   position: absolute;
   width: 100%;
   //background-color: #666;
   //height: 100vh;
   z-index: 4;
   padding-top: 1%;

   ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
	 padding: 1% ;
	 border-bottom: 1px solid #333;
	 a {
	    color: #245;
	    text-decoration: none;
	    background: transparent;
	    border: none !important;
	    i {
	       color: #245;
	       padding-top: 5%;
	    }
	 }
      }
   }
}


@media screen and (min-width: 1000px) {
   .side-nav {
      width: 8%;
      ul {
	 li {
	    text-align: left;
	    span:nth-child(2) {
	       display: inline;
	    }
	    i {
	       font-size: 26px;
	    }
	 }
      }
   }
   .main-content {
      margin-left: 10%;
      // my css for charts
      .chart_container {
	 //padding-right: 1%;
	 //padding-left: 1%;
	 margin-right: auto;
	 margin-left: auto;
	 .div_card {
	    border: 0.5px solid;
	    border-radius: 5px;
	    //background-color: #F0F8FF;
	    background: rgba(255,255,255,0.1);
	    margin-top: 0.5%;
	    margin-bottom: 0.5%;
	    //width: 15%;
	    span {
	       text-align: center;
	    }
	 }
	 .div_chart {
	    padding-top: 1%;
	    padding-bottom: 3.5%;
	    padding-right: 0.5%;
	    padding-left: 0.5%;
	 }
      }
   }
}


@media screen and (min-width: 2000px) {
   .side-nav {
      width: 5%;
      ul {
	 li {
	    text-align: left;
	    span:nth-child(2) {
	       display: inline;
	    }
	    i {
	       font-size: 26px;
	    }
	 }
      }
   }
   .main-content {
      margin-left: 10%;
   }
   // my css for charts
   .chart_container {
      margin-right: auto;
      margin-left: auto;
      .div_chart {
	 padding-top: 2.5%;
	 padding-bottom: 2.5%;
	 padding-right: 1%;
	 padding-left: 1%;
      }
   }
}



.dropdown:hover .dropdown-menu {
   display: block;
}

.dropdown:hover .dropbtn {
   background-color: #3e8e41;
}


.kontainer {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}
@media (min-width: 768px) {
   .kontainer {
      width: 750px;
   }
}
@media (min-width: 992px) {
   .kontainer {
      width: 970px;
   }
}
@media (min-width: 1200px) {
   .kontainer {
      width: 85%;
   }
}




// Using others CSS //

.card {
   //margin-bottom: 1.5rem;
   border-radius: 0; 
}

.card h4 {
   font-size: 1.1rem; 
}
.card .user-header .media img {
   border: 5px solid rgba(255, 255, 255, 0.3);
   border-radius: 50%;
   -webkit-border-radius: 50%; 
}
.card .card-header .card-actions button {
   display: block;
   float: left;
   width: 50px;
   padding: .75rem 0;
   margin: 0 !important;
   color: #fff;
   outline: 0;
   text-align: center;
   background: transparent;
   border: 0;
   border-left: 1px solid rgba(120, 130, 140, 0.4);
}
.card .card-footer {
   padding: 0.65rem 1.25rem;
   background-color: #f0f3f5;
   border-top: 1px solid #c2cfd6; 
}
.card .card-footer ul li {
   display: table-cell;
   padding: 0 1rem;
   text-align: center;
}

.card .card-header .card-actions {
   float: right; 
}
.card .card-header .card-actions [class*="btn"] {
   border-left: 1px solid rgba(120, 130, 140, 0.4);
   color: #878787;
   display: inline-block;
   font-size: 16px;
   float: left;
   padding: 0 7px;
   width: inherit;
   text-align: center; 
}

.card-body {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   padding: 1.25rem;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid  rgba(0,0,0,.125);
   border-radius: .5rem;
}

//.flot-container {
//   box-sizing: border-box;
//   width: 100%;
//   height: 275px;
//   padding: 20px 15px 15px;
//   margin: 15px auto 30px;
//   background: transparent;
//}
//
//.flot-pie-container {
//   height: 275px;
//}
//
//.pie_chart {
//   legend {
//      color: red !important;
//   }
//   label {
//      color: red !important;
//   }
//}

//
//
//
//  other source v2

/** login **/
//.login {
//   background:#F7F7F7;
//}

//.login_form {
//   position: absolute;
//   top: 0px;
//   width: 100%;
//}

//.login_form {
//   z-index: 22;
//}

//.animate {
//   -webkit-animation-duration: 0.5s;
//   -webkit-animation-timing-function: ease;
//   -webkit-animation-fill-mode: both;
//   -moz-animation-duration: 0.5s;
//   -moz-animation-timing-function: ease;
//   -moz-animation-fill-mode: both;
//   -o-animation-duration: 0.5s;
//   -o-animation-timing-function: ease;
//   -o-animation-fill-mode: both;
//   -ms-animation-duration: 0.5s;
//   -ms-animation-timing-function: ease;
//   -ms-animation-fill-mode: both;
//   animation-duration: 0.5s;
//   animation-timing-function: ease;
//   animation-fill-mode: both;
//}

.dropdown-menu {
   //display: none;
   //position: absolute;
   //background-color: #f1f1f1;
   min-width: auto;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
   z-index: 1;
   a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover { 
	 background-color: #ddd
      }
   }
   ul {
      margin: 20px 0 0 0;
      _margin: 0; /*IE6 only*/
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 38px;
      left: 0;
      z-index: 1;
      background: #444;
      background: linear-gradient(#444, #111);
      box-shadow: 0 -1px 0 rgba(255,255,255,.3);
      border-radius: 3px;
      transition: all .2s ease-in-out;
   }
}

.wdiget_1 {
   margin-left: 40%;
   margin-right: 40%;
}
