@import 'bootstrap';
body {
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
}

.header {
   position: absolute;
   height: 44px;
   width: 100%;
   //background: #999;
   z-index: 4;
   border: none;
}

.main-content {
   position: absolute;
   padding-top: 10%;
   z-index: 4;
}

.side-nav {
   position: absolute;
   width: 100%;
   //background-color: #666;
   height: 100vh;
   z-index: 3;
   padding-top: 44px;

   ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
	 padding: 20px 10px;
	 border-bottom: 1px solid #333;
	 a {
	    color: #bbb;
	    text-decoration: none;
	    background: transparent;
	    border: none !important;
	    i {
	       color: #333;
	    }
	 }
      }
   }
}

//@media screen and (min-width: 600px) {
//   .side-nav {
//      width: 50px;
//      ul {
//	 li {
//	    text-align: center;
//	    span:nth-child(2) {
//	       display: none;
//	    }
//	    i {
//	       font-size: 26px;
//	    }
//	 }
//      }
//   }
//   .main-content {
//      margin-left: 80px;
//   }
//}

@media screen and (min-width: 1000px) {
   .side-nav {
      width: 5%;
      ul {
	 li {
	    text-align: left;
	    span:nth-child(2) {
	       display: inline;
	    }
	    i {
	       font-size: 26px;
	    }
	 }
      }
   }
   .main-content {
      margin-left: 10%;
   }

}
