@import "bootstrap";

.alert {
   display: block;
   position: absolute;
   padding: 1%;
   margin: 1%;
   width: 15% auto;
   right: 80%;
   //top: -30%;
}



.jumbotron {
   margin-top: 10%;
   //position: absolute;
   //bottom: 0px;
   float: center;
}

#margin_top {
   //position: absolute;
   margin-top: 8%;
}

body {
   //background: #f1f2f7;
   background-image:  image-url("bg.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   //background: #DCDCDC;
   display: table;
   font-family: 'Open Sans' sans-serif !important;
   font-size: 16px;
   width: 100%; 
}

.jumbotron {
   width: 30% !important;
}

.public_container {
   width: 50px;
   //padding-right: 15px;
   //padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   background-color: rgba(255,255,255,0.6);
}
@media (min-width: 768px) {
   .public_container {
      width: 750px;
   }
}
@media (min-width: 992px) {
   .public_container {
      width: 970px;
   }
}
@media (min-width: 1200px) {
   .public_container {
      width: 50%;
   }
}

.navbar {
   position: fixed;
   height: auto;
   width: auto;
   right: 0;
   max-width: 12%;
   text-align: right;
}
.button_right {
   position: relative;
   //right: 0;
   float: right;
}

.button_center {
   position: relative;
   //right: 0;
   float: center;
   text-align: center;
}

h1 {
   font-family: serif;
   text-align: center;
}

p {
   font-size: 12px;
   font-family: georgia;
}


/// Login CSS ///

.login_container  {
   margin-top: 5%;
   background: rgba(255,255,255,0.7);
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}
@media (min-width: 768px) {
   .login_container {
      width: 750px;
   }
}
@media (min-width: 992px) {
   .login_container {
      width: 970px;
   } 
}
@media (min-width: 1200px) {
   .login_container {
      width: 30%;
   }
}

.login {
   font-size: 26px;
}
a.hiddenanchor {
   display: none;
}
.login_wrapper {
   right: 0px;
   margin: 0px auto;
   margin-top: 5%;
   max-width: 350px;
   position: relative;
}

.login_content {
   margin: 0 auto;
   padding: 25px 0 0;
   position: relative;
   text-align: center;
   text-shadow: 0 1px 0 #fff;
   min-width: 280px;
}
.login_content a,
.login_content .btn-default:hover {
   text-decoration: none;
}
.login_content a:hover {
   text-decoration: underline;
}
.login_content h1 {
   font: normal 25px Helvetica, Arial, sans-serif;
   letter-spacing: -0.05em;
   line-height: 20px;
   margin: 10px 0 30px;
}
.login_content h1:before, .login_content h1:after {
   content: "";
   height: 1px;
   position: absolute;
   top: 10px;
   width: 27%;
}
.login_content h1:after {
   background: rgb(126, 126, 126);
   background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -webkit-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -o-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -ms-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: linear-gradient(to right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   right: 0;
}
.login_content h1:before {
   background: rgb(126, 126, 126);
   background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -webkit-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -o-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -ms-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: linear-gradient(to left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   left: 0;
}
.login_content h1:before, .login_content h1:after {
   content: "";
   height: 1px;
   position: absolute;
   top: 10%;
   width: 20%;
}
.login_content h1:after {
   background: rgb(126, 126, 126);
   background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -webkit-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -o-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -ms-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: linear-gradient(to right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   right: 0;
}
.login_content h1:before {
   background: rgb(126, 126, 126);
   background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -webkit-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -o-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: -ms-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   background: linear-gradient(to left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
   left: 0;
}
.login_content form {
   margin: 20px 0;
   position: relative
}
.login_content form input[type="text"], .login_content form input[type="email"], .login_content form input[type="password"] {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
   -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
   -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
   -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
   box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
   border: 1px solid #c8c8c8;
   color: #777;
   margin: 0 0 20px;
   width: 100%;
}
.login_content form input[type="text"]:focus, .login_content form input[type="email"]:focus, .login_content form input[type="password"]:focus {
   -webkit-box-shadow: 0 0 2px #AA77B4 inset;
   -moz-box-shadow: 0 0 2px #ed1c24 inset;
   -ms-box-shadow: 0 0 2px #ed1c24 inset;
   -o-box-shadow: 0 0 2px #ed1c24 inset;
   box-shadow: 0 0 2px #A97AAD inset;
   background-color: #fff;
   border: 1px solid #A878AF;
   outline: none;
}
//#username {
//   background-position: 10px 10px !important
//}
//#password {
//   background-position: 10px -53px !important
//}
.login_content form div a {
   font-size: 12px;
   margin: 10px 15px 0 0;
}
.reset_pass {
   margin-top: 10px !important;
}
.login_content div .reset_pass {
   margin-top: 13px !important;
   margin-right: 39px;
   float: right;
}
.separator {
   border-top: 1px solid #D8D8D8;
   margin-top: 10px;
   padding-top: 10px;
}
.button {
   background: rgb(247, 249, 250);
   background: -moz-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
   background: -webkit-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
   background: -o-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
   background: -ms-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
   background: linear-gradient(to bottom, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
   filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0)";
   -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
   -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
   -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
   -webkit-border-radius: 0 0 5px 5px;
   -moz-border-radius: 0 0 5px 5px;
   -o-border-radius: 0 0 5px 5px;
   -ms-border-radius: 0 0 5px 5px;
   border-radius: 0 0 5px 5px;
   border-top: 1px solid #CFD5D9;
   padding: 15px 0;
}
.login_content form input[type="submit"], #content form .submit {
   //float: left;
   //margin-left: 38px;
}

//.button a {
//   background: url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
//   color: #7E7E7E;
//   font-size: 17px;
//   padding: 2px 0 2px 40px;
//   text-decoration: none;
//   -webkit-transition: all 0.3s ease;
//   -moz-transition: all 0.3s ease;
//   -ms-transition: all 0.3s ease;
//   -o-transition: all 0.3s ease;
//   transition: all 0.3s ease;
//}

.button a:hover {
   background-position: 0 -135px;
   color: #00aeef;
}

