<div class="public_container jumbotron">
   <h1>Admins Dashboard</h1>
   <% unless user_signed_in? %>
      <p style="text-align: center;">If you're a manager. Please, sign in to proceed </p></br>
      <div class="button_center">
	 <%= link_to "Login", user_session_path, class: "btn btn-info " %>
      </div>
   <% end %>
</div>
