<!DOCTYPE html>
<html>
   <head>
      <title>ManagerV2</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body>
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
      <nav class="nav_div navbar navbar-expand-lg navbar-light ">
	 <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav navbar-right dropdown logo_class">
	       <%= link_to "Dashboard", root_path, class: "navbar-brand text-white" %>
	    </ul>
	 </div>
	 <div class="form-inline my-2 my-lg-0 dropdown text-white">
	    <% if user_signed_in? %>
	       <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
	       <ul class="dropdown-menu">
		  <li><%= link_to "Sign Out", users_sign_out_path, method: :delete %></li>
	       </ul>
	    <% end %>
	 </div>
      </nav>
      <div class="div_body">
	 <div class="side-nav col-md-1">
	    <ul class="nav nav-tabs" role="tablist">
	       <li class="nav-item">
		  <a class="nav-link" href="#charts" role="tab" data-toggle="tab">Charts <span><i class="fa fa-bar-chart"></i></span></a>
	       </li>
	       <li class="nav-item">
		  <a class="nav-link" href="#tables" role="tab" data-toggle="tab">Tables <span><i class="fa fa-table"></i></span></a>
	       </li>
	    </ul>
	 </div>

	 <div class="main-content tab-content">
	    <div role="tabpanel" class="tab-pane active kontainer" id="charts">
	       <%= yield :charts %>
	    </div>
	    <div role="tabpanel" class="tab-pane kontainer" id="tables">
	       <%= yield :tables %>
	    </div>
	 </div>
      </div>
   </body>
</html>
