<!DOCTYPE html>
<html>
   <head>
      <title>ManagerV2</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'prototype', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body>
      <div class="header">
	 <a class="nav-trigger" href=""><span></span></a>
      </div>
      <div class="side-nav">
	 <nav>
	    <ul class="nav nav-tabs" role="tablist">
	       <li class="nav-item">
	       </li>
	       <li class="nav-item">
		  <a class="nav-link " href="#charts" role="tab" data-toggle="tab">Charts</a>
	       </li>
	       <li class="nav-item">
		  <a class="nav-link " href="#tables" role="tab" data-toggle="tab">Tables</a>
	       </li>
	    </ul>
	 </nav>
      </div>

      <!-- Tab panes -->
      <div class="main-content tab-content">
	 <div role="tabpanel" class="tab-pane  active" id="charts"><%= yield :charts %></div>
	 <div role="tabpanel" class="tab-pane  " id="tables"><%= yield :tables %></div>
      </div>

   </body>
</html>
