<!DOCTYPE html>
<html>
   <head>
      <title>ManagerV2</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body>
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
      <div class="kontainer">
	 <%= yield %>
      </div>
   </body>
</html>
